<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nexora-dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="shortcut icon" href="./assets/images/fevicon.svg" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
  <script src="https://cdn.tailwindcss.com"></script>

  <style>
    .hidden {
      display: none;
    }
  </style>
</head>
<body style="display: none;" class="bg-black text-gray-200 h-screen flex flex-col font-[Lexend]">
  <header id="dashbord-header" class="flex justify-between items-center py-4 px-6 text-xl shadow-md">
    <div><i class="ri-artboard-2-line"></i> Nexora</div>
    <nav class="hidden md:flex text-xs gap-6">
      <a href="#" class="hover:underline">HOME</a>
      <a href="#" class="hover:underline">TEMPLATES</a>
      <a href="#" class="hover:underline">FEATURE</a>
      <a href="#" class="hover:underline">ABOUT</a>
    </nav>
    <div class="w-[34px]">
      <img id="userPhoto" src="default.png" alt="user" class="rounded-full w-[34px]" />
    </div>
  </header>

  <div  class="flex flex-col md:flex-row flex-1 gap-4 px-6 py-4 overflow-hidden">
    <!-- Sidebar -->
    <div id="leftbar" class="md:w-[160px] w-full overflow-x-auto md:overflow-visible w-[300px]">
      <div class="flex md:flex-col gap-6 text-sm font-light cursor-pointer" id="tabs">
        <p data-tab="overall">Overall</p>
        <p data-tab="gaps">Notable Gaps</p>
        <p data-tab="match_percentage">Match %</p>
        <p data-tab="key_strengths">Key Strengths</p>
        <p data-tab="skills_gap">Skills Gap</p>
        <p data-tab="recommendations">Recommendations</p>
        <p data-tab="keywords">Keywords Found</p>
        <p data-tab="matched_keywords">Matched Keywords</p>
        <p data-tab="missing_keywords">Missing Keywords</p>
        <p data-tab="improvements">Areas for Improvement</p>
        <p data-tab="ats_recommendations">ATS Recommendations</p>
        <p data-tab="final_verdict">Final Report</p>
      </div>

      <button id="logout-btn" class="mt-[80px] px-6 py-[5px] bg-blue-700 text-white rounded-[2px]">Sign out <i class="ri-logout-box-line"></i></button>

      <div id="logout-modal" class="modal" style="display:none;">
        <div class="modal-content">
          <button id="cancel-logout" class="ml-[340px] mb-[130px] absolute"><i class="ri-close-large-line"></i></button>
          <h3>Are you sure you want to Sign out ?</h3>
          <div class="flex gap-4">
            <button id="confirm-logout" class="mt-6  text-white px-6 py-[5px] bg-black rounded-[4px]">Sign out </button>
            <button id="cancel-logout" class="mt-6 text-white px-6  py-[5px] bg-black rounded-[4px]">Next time</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Tab Content -->
    <main id="tab-contents" class="h-[600px] w-full overflow-y-auto text-sm text-gray-300">
      <div id="loader" class="loader-d hidden">
       <p class="text-white">Analysis</p>
      </div>
      <div id="overall" class="tab-pane hidden"></div>
      <div id="gaps" class="tab-pane hidden"></div>
      <div id="match_percentage" class="tab-pane hidden"></div>
      <div id="key_strengths" class="tab-pane hidden"></div>
      <div id="skills_gap" class="tab-pane hidden"></div>
      <div id="recommendations" class="tab-pane hidden"></div>
      <div id="keywords" class="tab-pane hidden"></div>
      <div id="matched_keywords" class="tab-pane hidden"></div>
      <div id="missing_keywords" class="tab-pane hidden"></div>
      <div id="improvements" class="tab-pane hidden"></div>
      <div id="ats_recommendations" class="tab-pane hidden"></div>
      <div id="final_verdict" class="tab-pane hidden"></div>
      <p id="default-msg" class="text-gray-400 text-center mt-[300px]">Data Unavailable for Analysis here...</p>
    </main>

    <!-- Upload Form -->
    <section id="left-sidebar" class="md:w-1/2 w-full md:px-6 ">
      <h2 class="text-xl mb-8 font-light">Upload Resume & Job Description</h2>
      <form id="resumeForm" class="space-y-6">
        <div class="flex flex-col">
          <input type="file" id="resume" name="resume" class="hidden" accept=".pdf,.docx" />
          <label for="resume" class="w-full h-32 p-6 border border-gray-500 rounded-md mb-2 flex flex-col items-center justify-center cursor-pointer text-gray-200">
            <span> <i class="ri-folder-upload-line"></i> Upload your resume</span>
          </label>
        </div>
        

        <div class="flex flex-col">
            <label for="job_description" class="block mb-2 text-sm font-light text-gray-300">Job Description</label>
            <textarea id="job_description" name="job_description" rows="5"class="w-full p-2 border border-gray-500 rounded-md bg-transparent text-white resize-none overflow-y-auto"
            placeholder="e.g., Frontend Developer" required></textarea>
        </div>
        <button type="submit" class="mt-6 bg-blue-700 text-white px-4 py-2 rounded-md w-full mb-8">Detail Analyze <i class="ri-bard-fill"></i></button>
    </form>
    </section>
  </div>
</body>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/gitOauth.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/dashboardProfile.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/logout.js') }}"></script>
</html>
