/* <!-- Locomotive Scroll CSS --> */
@import url("https://cdn.jsdelivr.net/npm/locomotive-scroll/dist/locomotive-scroll.min.css");


/* Remix icon CDN  */
@import url("https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css");


/* Google font CDN */
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Lexend:wght@100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');


#head{
  font-family: "Forum", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 90px ;
  line-height: 90px;
  margin-top: 80px;
}

#side {
  font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px ;
  line-height: 50px;
  margin-top: 80px;
  /* font-family: "Lexend", sans-serif; */
  letter-spacing: -2.2px;
 
}
header{
  font-family: "Lexend", sans-serif;
  font-size: 11px;
}
#del{
   font-family: "Lexend", sans-serif;
   letter-spacing: -1px;
   padding-left: 80px;
   padding-right: 80px;
  
}

#middle{
  width: 90%;
}

#left-sidebar{
  background: #212121;
}