#head{
  font-family: "Forum", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 90px ;
  line-height: 90px;
  margin-top: 100px;
}

#side {
  font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px ;
  line-height: 50px;
  margin-top: 80px;
  /* font-family: "Lexend", sans-serif; */
  letter-spacing: -2.2px;
 
}
header{
  font-family: "Lexend", sans-serif;
  font-size: 11px;
}
#del{
   font-family: "Lexend", sans-serif;
   letter-spacing: -1px;
   padding-left: 80px;
   padding-right: 80px;
  
}

#middle{
  width: 90%;
}

#left-sidebar{
  background: #212121;
}

body{
  font-weight: 300;
}